@import 'colors';

// Media queries
@media (max-width: 1024px) {
  button.with-arrow::after {
    content: '';
    position: absolute;
  }

  nav {
    .nav-content {
      position: relative;

      a {
        width: 100%;
        h1.logo {
          font-size: 2.8rem;
          text-align: center;
        }
      }
    }

    button.hamburger {
      display: block;
      position: absolute;
    }

    .nav-content > ul {
      position: absolute;
      background-color: $color-background;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      padding: 2rem;
      padding-top: 4.8rem;
      width: 100%;
      height: 100vh;
      transition: transform 0.3s;
      flex-direction: column;
      align-items: flex-end;
      overflow-y: auto;
      overflow-x: hidden;

      &.show-mobile-nav {
        transform: translateX(0);
      }

      a:hover,
      button:hover {
        filter: brightness(2) !important;
      }

      > li {
        width: 100%;

        &:hover ul.dropdown:not(.dropdown--open) {
          display: none;
        }

        ul.dropdown {
          border: 1px solid #00000040 !important;
          width: 100%;
          box-shadow: none;
          position: static;

          li {
            width: 100%;

            a {
              width: 100%;
            }
          }
        }
      }
    }

    &::after {
      background-position: 25% 0;
    }
  }

  footer {
    width: 100%;

    .form {
      width: 100%;
      border: none;
    }
  }

  footer ul.site-map {
    grid-template-columns: 1fr;
  }
}
